@model IEnumerable<Profile_Management.Models.EF.ActionLog>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>


<div class="box-body" style="max-height: 400px; overflow-y: auto;">
    <table class="table">
        <thead>
            <tr>
                <th>ActionLogID</th>
                <th>ActionLogUser</th>
                <th>ActionLogDate</th>
                <th>ActionLogType</th>
                <th>ActionLogAccountLog</th>
                <th>ActionLogDevice</th>
                <th>ActionLogDevice_Name</th>
                <th>ActionLogDescription</th>

            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="8">No records found</td>
                </tr>
            }
            else
            {
                foreach (var log in Model)
                {
                    <tr>
                        <td>@log.ActionLogID</td>
                        <td>@log.ActionLogUser</td>
                        <td>@log.ActionLogDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@log.ActionLogType</td>
                        <td>@log.ActionLogAccountLog</td>
                        <td>@log.ActionLogDevice</td>
                        <td>@log.ActionLogDevice_Name</td>
                        <td>@log.ActionLogDescription</td>
                    </tr>
                }

            }

        </tbody>
    </table>
</div>

