@using Profile_Management.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary" style="border-top: 3px solid #81c408 !important;">
            <div class="card-header text-center">
                <h1>ログイン</h1>
            </div>

            <div class="card-body">
                <p class="login-box-msg">ログインはじめ！</p>

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span><br />
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
                    </div>
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <input name="email" class="form-control" placeholder="Eメール入力" value="">
                        
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="PASSWORD" class="form-control" placeholder="パスワード入力" value="">
                       
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-6">
                            <button style="float:right" type="submit" class="btn btn-primary btn-success">サインイン</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
                <p class="mb-1">
                    @Html.ActionLink("パスワードは忘れた場合は?", "ForgotPassword")
                </p>
                <p class="mb-0">
                    @Html.ActionLink("新規登録", "Register")
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/dist/js/adminlte.min.js"></script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
